header{
    align-items: center;
    justify-content: space-between;
    /* display: flex; */
    /* padding: 20px 100px; */
    width: auto;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 500;
    margin-left: 50px;
    text-decoration: none;
}
h1{
    font-weight: 400;
    font-size: 300%;
}
h2{
    font-weight: 500;
}
.girraffe{
    display: flex;
    position: relative;
    left: 700px;
    top: -200px;
}
#Know{
    text-decoration: none;
    color: black;
    list-style-position: none;
    position: relative;
    left: 200px;
}
#Learn{
    text-decoration: none;

}
#travel{
    left: 200px;
    position: relative;
}
#tourism{
    left: 200px;
    position: relative;
}
#Learn{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: purple;
    color: #fff;
    border-radius: 40px;
    font-weight: 600;
    text-decoration: none;
    left: 200px;
    position: relative;
}
#flight {
    position: relative;
    top: -30px;
    right: -220px;
}
#best {
    position: relative;
    top: -30px;
    right: -220px;
}
#footer {
    background-color: #83FF57;
    margin-bottom: 830px;
}
#footer1 {
    position: relative;
    top: 0px;
    left: 40px;
    padding-top: 70px;
}
#tembea1 {
    position: relative;
    top: 20px;
    left: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#tembea2 {
    position: relative;
    top: 20px;
    left: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#tembea3 {
    position: relative;
    top: 20px;
    left: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#footer2 {
    position: relative;
    top: -180px;
    left: 380px;
}
#about1{
    position: relative;
    top: -160px;
    left: 398px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#about2{
    position: relative;
    top: -160px;
    left: 400px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#about3 {
    position: relative;
    top: -150px;
    left: 398px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#footer3 {
    position: relative;
    top: -355px;
    left: 750px;
}
#help1 {
    position: relative;
    top: -335px;
    left: 750px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#help2 {
    position: relative;
    top: -325px;
    left: 750px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#help3 {
    position: relative;
    top: -315px;
    left: 750px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#help4 {
    position: relative;
    top: -305px;
    left: 750px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#footer4 {
    position: relative;
    top: -570px;
    left: 1050px;
}
#insta {
    position: relative;
    top: -580px;
    left: 1020px;
    height: 66px;
}
#facebook {
    position: relative;
    top: -560px;
    left: 1080px;
    height: 66px;
}
#twitter {
    position: relative;
    top: -560px;
    left: 1110px;
    height: 66px;
}
html, body {
    width: 100%;
    height:auto;
    padding:0;
    margin:0;
    overflow-x: hidden;
}
.luggage{
    position: relative;
    right: -100px;
}