*{
    font-family: Roboto;
}
.header {
    padding: 30px;
    background-color: rgba(69, 180, 173, 1);
    border-right: 0px;
}
.header>ul {
    display: flex;
    justify-content: space-evenly;
}
.list {
    text-decoration: none;
    list-style: none;
}
.section1 {
    background-color: rgb(157, 231, 226);
}
div>#hotels {
    position: relative;
    padding-bottom: 90px;
    padding-left: 50px;
    left: 40px;
    top: 80px;
    font-size: 60px;
    height: 200px;
    width: 500px;
}
#image1 {
    position: relative;
    right: -620px;
    bottom: 230px;
}
#image3 {
    position: relative;
    left: 40px;
    bottom: 60px;
}
#image2 {
    position: relative;
    right: 60px;
    bottom: 50px;
    width: 300px;
}
#paragraph1 {
    position: relative;
    left: 100px;
    bottom: 300px;
    font-family: Averia Sans Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
button {
    position: relative;
    height: 7vh;
    width: 120px;
    border-radius: 15vh;
    background-color: #9C69E2;
    color: white;
    font-size: 15px;
    bottom: 250px;
    left: 149px;
}

#life {
    background-image: url(./pic/background\ image\ 2.jpg);
    background-size: cover;
    background-attachment: scroll;
    color: white;
}
.wildlife {
    position: relative;
    bottom: -140px;
    left: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
}
#paragraph2 {
    position: relative;
    left: 140px;
    bottom: -200px;
    font-family: Averia Sans Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
#image4 {
    position: relative;
    left: 640px;
    bottom: 70px;
}
#image5 {
    position: relative;
    left: 390px;
    bottom: -220px;
}
#image6 {
    position: relative;
    left: 320px;
    bottom: 30px;
}
#safari {
    position: relative;
    text-align: center;
    font-family: Averia Sans Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}
#paragraph3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
#image7 {
    position: relative;
    left: 40px;
    top: 0px;
}
#image8 {
    position: relative;
    left: 130px;
    top: -45px;
}
#image9 {
    position: relative;
    top: 10px;
    left: 185px;
    padding-bottom: 80px;
}

#footer {
    background-color: #83FF57;
    
}
#footer1 {
    position: relative;
    top: 0px;
    left: 40px;
    padding-top: 70px;
}
#tembea1 {
    position: relative;
    top: 20px;
    left: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#tembea2 {
    position: relative;
    top: 20px;
    left: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#tembea3 {
    position: relative;
    top: 20px;
    left: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#footer2 {
    position: relative;
    top: -180px;
    left: 380px;
}
#about1{
    position: relative;
    top: -160px;
    left: 398px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#about2{
    position: relative;
    top: -160px;
    left: 400px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#about3 {
    position: relative;
    top: -150px;
    left: 398px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#footer3 {
    position: relative;
    top: -355px;
    left: 750px; 
}
#help1 {
    position: relative;
    top: -335px;
    left: 750px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#help2 {
    position: relative;
    top: -325px;
    left: 750px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#help3 {
    position: relative;
    top: -315px;
    left: 750px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#help4 {
    position: relative;
    top: -305px;
    left: 750px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
#footer4 {
    position: relative;
    top: -570px;
    left: 1050px; 
}
#insta {
    position: relative;
    top: -560px;
    left: 1050px; 
    height: 66px;
}
#facebook {
    position: relative;
    top: -560px;
    left: 1080px; 
    height: 66px;
}

#twitter {
    position: relative;
    top: -560px;
    left: 1110px; 
    height: 66px;
}