header{
    align-items: center;
    justify-content: space-between;
    /* display: flex; */
    /* padding: 20px 100px; */
    width: auto;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 500;
    margin-left: 50px;
    text-decoration: none;
}
h1{
    font-weight: 400;
    font-size: 300%;
}
h2{
    font-weight: 500;
}
.girraffe{
    display: flex;
    float: right;
}