#details-content {
    list-style-type: none;
    padding: .5em;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.main-nav {
    background-color: #B09F9F;
    padding: 1em;

}
.main-section1 {
    background-color: rgb(173, 132, 132);
    border-collapse: collapse;
    padding-bottom: 0.8em;
    position: relative;
    padding: .5em;
}
#rents {
    color: #941111;
    font-size: 2.5rem;
    text-align: center;
}